# Python 연습

In [4]:
def add(x,y):
    return x+y

In [3]:
add(12013102, 139834791)

151847893

In [30]:
a = [1,2,3,4,5]
b = []

In [47]:
print("correct intend")
print("incorrect")

correct intend
incorrect

In [32]:
500-3

497

In [33]:
print(500-3)

497

In [72]:
a = 41
for x in range(a):
    if x <= 20:
        print("0"*(x+1))
    elif x > 20:
        b = a - x
        print("0"*b)

0
00
000
0000
00000
000000
0000000
00000000
000000000
0000000000
00000000000
000000000000
0000000000000
00000000000000
000000000000000
0000000000000000
00000000000000000
000000000000000000
0000000000000000000
00000000000000000000
000000000000000000000
00000000000000000000
0000000000000000000
000000000000000000
00000000000000000
0000000000000000
000000000000000
00000000000000
0000000000000
000000000000
00000000000
0000000000
000000000
00000000
0000000
000000
00000
0000
000
00
0

In [66]:
2**0.5

1.4142135623730951

In [67]:
2 **(1/3)

1.2599210498948732

In [68]:
a = 2**(1/4)

In [69]:
a*a

1.414213562373095

In [70]:
a**4

1.9999999999999998

In [73]:
a = '177'

In [75]:
a +"1"

'1771'

In [5]:
intnum=100
floatnum =100.0
type(intnum)
type(floatnum)

float

In [4]:
type(intnum)
type(floatnum)

float

In [6]:
lst = [1,2,3,4]
type(lst)

list

In [7]:
tp = (1,2,3,4)
type(tp)

tuple

In [9]:
setdata={1,2,3,4}
type(setdata)

set

In [10]:
intnum =100
type(intnum)

int

In [28]:
strdata='안녕'
print(str(intnum) + strdata)

100안녕

In [17]:
dic = {'a':1 , 'b':2, 'c':3, 'd':4}
dic['a']

1

In [19]:
dic['add'] = 5

In [20]:
dic

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'add': 5}

In [21]:
dic['aadd']=6

In [22]:
dic

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'add': 5, 'aadd': 6}

In [23]:
dic['abc'] = 5

In [24]:
dic

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'add': 5, 'aadd': 6, 'abc': 5}

In [30]:
hello = '"여러분" 안녕하세요!!'
print(hello)

"여러분" 안녕하세요!!

In [31]:
hello1 = '''안녕하세요 반갑습니다 여기는 스마트 팩토리 수업반 입니다.'''
print(hello1)

안녕하세요 반갑습니다 여기는 스마트 팩토리 수업반 입니다.

In [38]:
print(2==3 and 4==2*2)

False

In [41]:
# 복소수 연산
number_1 = 2+3j
number_2 = 3+6j
print(number_1.imag)
print(number_1.real)

3.0
2.0

In [42]:
print(number_1 * number_2)

(-12+21j)

In [43]:
print(number_1 + number_2)

(5+9j)

In [44]:
'''
이거슨 직음 파이썬 데이터 코딩 하고 있는 모습이빈다.
그럿쵸
'''
print('만나요?')

만나요?

In [45]:
input_data = input('당신이 사는 곳은?')
print(input_data)

당신이 사는 곳은?

In [48]:
bangabanga = input('니 이름')
print(bangabanga, '님 반갑습니다.')

니 이름승준
승준 님 반갑습니다.

In [50]:
num = 100;
print('num', num)

num 100

In [9]:
age = int(input())


if age < 20:
    print('청소년 입니다.')
else:
    print('성인 입니다.')
    
print('돈내')

30
성인 입니다.
돈내

In [10]:
walk = int(input())

if walk >100:
    print('수고했어')
else:
    print('더 걸어')

101
수고했어

In [11]:
hour = int(input())

if hour < 12:
    print('오전입니다.')
elif hour >=12:
    print('오후입니다.')

14
오후입니다.

In [13]:
man_power = int(input())

if man_power <= 100:
    print('시비걸기')
elif man_power > 100 and man_power <200:
    print('고민해보기')
else:
    print('형님')

2001
형님

In [20]:
arr = range(6)

In [21]:
len(arr)

6

In [23]:
for i in range(-1, 6):
    print(i)

-1
0
1
2
3
4
5

In [35]:
a = 0
for i in range(101):
    a += i
print(a)

5050

In [36]:
import math

In [38]:
n = int(input('number'))
math.factorial(n)

number10

3628800

In [40]:
n = int(input('number'))

for i in  range(n):
    i = i*i
    print(i)

number5
0
1
4
9
16

In [45]:
n = int(input())
s = 0
i = 1
while i <= n:
    s = s+i
    i += 1

print('1부터 {}까지의 합은 {}'.format(n, s))

5
1부터 5까지의 합은 15

In [46]:
n = -1
while n <=0:
    n = int(input('입력하세요'))
    if(n<=0):
        print('양수를 입력하세요')

s = 0
for i in range(1, n+1):
    s = s+i
print(s)

입력하세요-2
양수를 입력하세요
입력하세요5
15

In [49]:
str = 'Programming Language'
for i in str:
    if i in ['a', 'e', 'o', 'i', 'u']:
        continue
    print(i)
print('The End')

P
r
g
r
m
m
n
g

L
n
g
g
The End