# Python 연습

In [4]:
def add(x,y):
    return x+y

In [3]:
add(12013102, 139834791)

151847893

In [30]:
a = [1,2,3,4,5]
b = []

In [47]:
print("correct intend")
print("incorrect")

correct intend
incorrect

In [32]:
500-3

497

In [33]:
print(500-3)

497

In [72]:
a = 41
for x in range(a):
    if x <= 20:
        print("0"*(x+1))
    elif x > 20:
        b = a - x
        print("0"*b)

0
00
000
0000
00000
000000
0000000
00000000
000000000
0000000000
00000000000
000000000000
0000000000000
00000000000000
000000000000000
0000000000000000
00000000000000000
000000000000000000
0000000000000000000
00000000000000000000
000000000000000000000
00000000000000000000
0000000000000000000
000000000000000000
00000000000000000
0000000000000000
000000000000000
00000000000000
0000000000000
000000000000
00000000000
0000000000
000000000
00000000
0000000
000000
00000
0000
000
00
0

In [66]:
2**0.5

1.4142135623730951

In [67]:
2 **(1/3)

1.2599210498948732

In [68]:
a = 2**(1/4)

In [69]:
a*a

1.414213562373095

In [70]:
a**4

1.9999999999999998

In [73]:
a = '177'

In [75]:
a +"1"

'1771'

In [5]:
intnum=100
floatnum =100.0
type(intnum)
type(floatnum)

float

In [4]:
type(intnum)
type(floatnum)

float

In [6]:
lst = [1,2,3,4]
type(lst)

list

In [7]:
tp = (1,2,3,4)
type(tp)

tuple

In [9]:
setdata={1,2,3,4}
type(setdata)

set

In [10]:
intnum =100
type(intnum)

int

In [28]:
strdata='안녕'
print(str(intnum) + strdata)

100안녕

In [17]:
dic = {'a':1 , 'b':2, 'c':3, 'd':4}
dic['a']

1

In [19]:
dic['add'] = 5

In [20]:
dic

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'add': 5}

In [21]:
dic['aadd']=6

In [22]:
dic

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'add': 5, 'aadd': 6}

In [23]:
dic['abc'] = 5

In [24]:
dic

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'add': 5, 'aadd': 6, 'abc': 5}

In [30]:
hello = '"여러분" 안녕하세요!!'
print(hello)

"여러분" 안녕하세요!!

In [31]:
hello1 = '''안녕하세요 반갑습니다 여기는 스마트 팩토리 수업반 입니다.'''
print(hello1)

안녕하세요 반갑습니다 여기는 스마트 팩토리 수업반 입니다.

In [38]:
print(2==3 and 4==2*2)

False

In [41]:
# 복소수 연산
number_1 = 2+3j
number_2 = 3+6j
print(number_1.imag)
print(number_1.real)

3.0
2.0

In [42]:
print(number_1 * number_2)

(-12+21j)

In [43]:
print(number_1 + number_2)

(5+9j)

In [44]:
'''
이거슨 직음 파이썬 데이터 코딩 하고 있는 모습이빈다.
그럿쵸
'''
print('만나요?')

만나요?

In [45]:
input_data = input('당신이 사는 곳은?')
print(input_data)

당신이 사는 곳은?

In [48]:
bangabanga = input('니 이름')
print(bangabanga, '님 반갑습니다.')

니 이름승준
승준 님 반갑습니다.

In [50]:
num = 100;
print('num', num)

num 100

In [9]:
age = int(input())


if age < 20:
    print('청소년 입니다.')
else:
    print('성인 입니다.')
    
print('돈내')

30
성인 입니다.
돈내

In [10]:
walk = int(input())

if walk >100:
    print('수고했어')
else:
    print('더 걸어')

101
수고했어

In [11]:
hour = int(input())

if hour < 12:
    print('오전입니다.')
elif hour >=12:
    print('오후입니다.')

14
오후입니다.

In [13]:
man_power = int(input())

if man_power <= 100:
    print('시비걸기')
elif man_power > 100 and man_power <200:
    print('고민해보기')
else:
    print('형님')

2001
형님

In [20]:
arr = range(6)

In [21]:
len(arr)

6

In [23]:
for i in range(-1, 6):
    print(i)

-1
0
1
2
3
4
5

In [35]:
a = 0
for i in range(101):
    a += i
print(a)

5050

In [7]:
import math
n = int(input('number'))
math.factorial(n)

number5

120

In [40]:
n = int(input('number'))

for i in  range(n):
    i = i*i
    print(i)

number5
0
1
4
9
16

In [45]:
n = int(input())
s = 0
i = 1
while i <= n:
    s = s+i
    i += 1

print('1부터 {}까지의 합은 {}'.format(n, s))

5
1부터 5까지의 합은 15

In [46]:
n = -1
while n <=0:
    n = int(input('입력하세요'))
    if(n<=0):
        print('양수를 입력하세요')

s = 0
for i in range(1, n+1):
    s = s+i
print(s)

입력하세요-2
양수를 입력하세요
입력하세요5
15

In [49]:
str = 'Programming Language'
for i in str:
    if i in ['a', 'e', 'o', 'i', 'u']:
        continue
    print(i)
print('The End')

P
r
g
r
m
m
n
g

L
n
g
g
The End

In [1]:
def print_star3():

    print('*******************')
    print('*******************')
    print('*******************')

print_star3()

*******************
*******************
*******************

In [9]:
def print_name(name):
    for i in range(len(name_data)):
        print(i+1, '번째는', name[i])
        
name_data = ['홍길동', '양만춘', '이순신', '안중근']
print_name(name_data)

1 번째는 홍길동
2 번째는 양만춘
3 번째는 이순신
4 번째는 안중근

# 전역변수 지역변수

In [10]:
def print_sum():
    a = 100
    b = 200
    result = a + b
    print('print_sum() 내부', a , '과', b, '의 합은', result, '입니다.')

a = 10
b = 20
print_sum()

print_sum() 내부 100 과 200 의 합은 300 입니다.

In [11]:
def print_sum():
    a = 100
    b = 200
    result = a + b
    print('print_sum() 내부', a , '과', b, '의 합은', result, '입니다.')

a = 10
b = 20
print_sum()
result = a + b
print('print_sum() 외부', a , '과', b, '의 합은', result, '입니다.')

print_sum() 내부 100 과 200 의 합은 300 입니다.
print_sum() 외부 10 과 20 의 합은 30 입니다.

In [5]:
def get_root(a,b,c):
    r1 = (-b +(b**2 - 4*a*c)**0.5)/(2*a)
    r2 = (-b -(b**2 - 4*a*c)**0.5)/(2*a)
    return r1, r2

root1 = get_root(1, 5, 6)
print(root1)

(-2.0, -3.0)

# 가변인자

In [10]:
def greet(*names):
    for name in names:
        print('Hi', name)
        
greet('A','B','C','D',1,2,3,4,5,6)

Hi A
Hi B
Hi C
Hi D
Hi 1
Hi 2
Hi 3
Hi 4
Hi 5
Hi 6

In [19]:
def foo(*args):
    print('인자의 개수:', len(args))
    print('인자는:',args)
    
    
foo(10,20,30)

인자의 개수: 3
인자는: (10, 20, 30)

In [22]:
def kwarg_param(**kwargs):
    print('인자의 개수는:', len(kwargs))
    print('인자는:', kwargs)
    print('key값은:', kwargs.keys())
    print('value값은:', kwargs.values())
    
kwarg_param(first='a', second='b', third='c')

인자의 개수는: 3
인자는: {'first': 'a', 'second': 'b', 'third': 'c'}
key값은: dict_keys(['first', 'second', 'third'])
value값은: dict_values(['a', 'b', 'c'])

In [35]:
def arg_kwarg_param(*args,**kwargs):
    print(len(args))
    print(len(kwargs))
    print(args, kwargs)
    print('-'*40)
    return args, kwargs

r1, r2 = arg_kwarg_param(10,20, a=30, b=40)
print(r1)
print(r2)

2
2
(10, 20) {'a': 30, 'b': 40}
----------------------------------------
(10, 20)
{'a': 30, 'b': 40}

In [38]:
def arg_kwarg_param(*args,**kwargs):
    print(len(args))
    print(len(kwargs))
    print(args, kwargs)
    print('-'*40)
    return args, kwargs

r1, r2 = arg_kwarg_param(10,20, a=30, b=40)
print(r1)
print(r2)

2
2
(10, 20) {'a': 30, 'b': 40}
----------------------------------------
(10, 20)
{'a': 30, 'b': 40}

In [40]:
def hello(count):
    if count == 0:    # 종료 조건을 만듦. count가 0이면 다시 hello 함수를 호출하지 않고 끝냄
        return
    
    print('Hello, world!', count)
    
    count -= 1      # count를 1 감소시킨 뒤
    hello(count)    # 다시 hello에 넣음
 
hello(5)    # hello 함수 호출

Hello, world! 5
Hello, world! 4
Hello, world! 3
Hello, world! 2
Hello, world! 1

In [46]:
def factorial(n):
    if n == 1:
        return 1
    else :

        return n*factorial(n-1)
        
result = factorial(5)

print('{}! = {}'.format(n, result))

5! = 120

In [48]:
import numpy

In [56]:
score_lists=[10,20,30,40,50,60,70,80,90,100]
type(score_lists)

list

In [57]:
score_lists[:-1:2]

[10, 30, 50, 70, 90]

In [125]:
fruits = [1,2,['banan', 'apple', 'orange', 'kiwi'],3,4,'a','b']
fruits

[1, 2, ['banan', 'apple', 'orange', 'kiwi'], 3, 4, 'a', 'b']

In [126]:
fruits[2][2]

'orange'

In [127]:
fruits.append(5)

In [128]:
fruits.remove(5)

In [129]:
fruits

[1, 2, ['banan', 'apple', 'orange', 'kiwi'], 3, 4, 'a', 'b']

In [150]:
a = [1,2,3,2,1,4,5,4,5,'a','b']

In [151]:
'a' in a

True

In [152]:
if 'a' in a:
    print('a있다')

a있다

In [157]:
people_info = {'성':'오', '이름':'승준', '직장':'백수'}
people_info_list=[{'성':'오', '이름':'승준', '직장':'백수'},{'성':'문', '이름':'다영', '직장':'네이버'}]
len(people_info_list[0])

3

In [169]:
a = people_info_list[1]
a.keys()

dict_keys(['성', '이름', '직장'])

In [172]:
type(a.keys())

dict_keys

In [174]:
key_list =list(a.keys())

In [175]:
type(key_list)

list

In [177]:
key_list[1]

'이름'

In [179]:
people_info['취미'] = '테니스'

In [180]:
people_info

{'성': '오', '이름': '승준', '직장': '백수', '취미': '테니스'}

In [181]:
del(people_info['직장'])

In [184]:
'성' in people_info

True

In [185]:
people_info.pop('성')

'오'

In [186]:
people_info

{'이름': '승준', '취미': '테니스'}

In [189]:
people_info_1 = {'성':'오', '이름':'승준', '직장':'백수', '취미':'테니스'}
people_info_2 = {'성':'안', '이름':'수현', '직장':'있음', '취미':'수영'}

In [190]:
people_info_1.update(people_info_2)

In [191]:
people_info_1

{'성': '안', '이름': '수현', '직장': '있음', '취미': '수영'}

In [197]:
set0 = {}
set1 = set()

In [199]:
type(set0)
type(set1)

set

In [200]:
set0['her'] ='values'
print(set0)

{'her': 'values'}

In [203]:
tuple_data = (1,)
print(tuple_data)

(1,)

In [207]:
s = {1,2,3}
a = {3,4,5}
s.union(a)

{1, 2, 3, 4, 5}

In [208]:
s.difference(a)

{1, 2}

In [209]:
s.intersection(a)

{3}

In [212]:
s = {1,2,3,4,5,6,7,8,9}
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [213]:
s.add(10)

In [214]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [215]:
s.discard(1)

In [216]:
s

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [219]:
tuple_data_1 = (1,2,3,4)
tuple_data_2 = (2,3,4,5)

In [220]:
tuple_data_1 +tuple_data_2

(1, 2, 3, 4, 2, 3, 4, 5)

In [245]:
a = [10,20,30]
b = ('ten', 'twenty', 'thirty')

data = zip(a,b)

In [246]:
type(data)

zip

In [247]:
c = []
for i in data:
    c.append(i)
    
    
print(c)
d = set(c)

[(10, 'ten'), (20, 'twenty'), (30, 'thirty')]

In [248]:
d

{(10, 'ten'), (20, 'twenty'), (30, 'thirty')}